name: download-actions-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
    contents: write
    
jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest] #, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      
    # https://netstorage.allwinnertech.com:5001/sharing/F8oAGoG9h
      - shell: cmd
        run: |
          curl https://netstorage.allwinnertech.com:5001/fsdownload/F8oAGoG9h/V853%20NPU%20Toolkits.zip --output download.zip &&^
          7z x download.zip -o"downloads"&&^
          dir
      
      # - name: Archive Release
      #   uses: thedoctor0/zip-release@master
      #   with:
      #     type: 'zip'
      #     path: ${{ github.event.repository.name }}*
      #     filename: "${{ github.event.repository.name }}-${{ github.ref_name }}-${{ matrix.os }}.zip"
          
      - name: Release prebuilt
        uses: ncipollo/release-action@v1
        with:
          artifacts: "downloads/*"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
